/* Copyright (c) 2020, The Linux Foundation. All rights reserved.
*  Copyright (c) 2020, Jebaitedneko.
*
* This program is free software; you can redistribute it and/or modify
* it under the terms of the GNU General Public License version 2 and
* only version 2 as published by the Free Software Foundation.
*
* This program is distributed in the hope that it will be useful,
* but WITHOUT ANY WARRANTY; without even the implied warranty of
* MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
* GNU General Public License for more details.
*/

&msm_gpu {

	/* Idle Frequency */
	qcom,initial-pwrlevel = <8>;

	/* Enable cooling cell support */
	#cooling-cells = <2>;

	/* Context aware jump target power level */
	qcom,ca-target-pwrlevel = <6>;

	/* Power levels */
	qcom,gpu-pwrlevels {

		/* Turbo 1.55 */
		qcom,gpu-pwrlevel@0 {

			reg = <0>;
			qcom,gpu-freq = <1550000000>;
			qcom,bus-freq = <10>;
			qcom,bus-min = <10>;
			qcom,bus-max = <10>;
		};

		/* Turbo 1.35 */
		qcom,gpu-pwrlevel@1 {

			reg = <1>;
			qcom,gpu-freq = <1350000000>;
			qcom,bus-freq = <10>;
			qcom,bus-min = <10>;
			qcom,bus-max = <10>;
		};

		/* TURBO */
		qcom,gpu-pwrlevel@2 {

			reg = <2>;
			qcom,gpu-freq = <650000000>;
			qcom,bus-freq = <10>;
			qcom,bus-min = <10>;
			qcom,bus-max = <10>;
		};

		/* NOM+ */
		qcom,gpu-pwrlevel@3 {

			reg = <3>;
			qcom,gpu-freq = <560000000>;
			qcom,bus-freq = <10>;
			qcom,bus-min = <8>;
			qcom,bus-max = <10>;
		};

		/* NOM */
		qcom,gpu-pwrlevel@4 {

			reg = <4>;
			qcom,gpu-freq = <510000000>;
			qcom,bus-freq = <9>;
			qcom,bus-min = <6>;
			qcom,bus-max = <10>;
		};

		/* SVS+ */
		qcom,gpu-pwrlevel@5 {

			reg = <5>;
			qcom,gpu-freq = <400000000>;
			qcom,bus-freq = <7>;
			qcom,bus-min = <5>;
			qcom,bus-max = <8>;
		};

		/* SVS */
		qcom,gpu-pwrlevel@6 {

			reg = <6>;
			qcom,gpu-freq = <320000000>;
			qcom,bus-freq = <4>;
			qcom,bus-min = <2>;
			qcom,bus-max = <6>;
		};

	       /* Low SVS */
		qcom,gpu-pwrlevel@7 {

			reg = <7>;
			qcom,gpu-freq = <216000000>;
			qcom,bus-freq = <1>;
			qcom,bus-min = <1>;
			qcom,bus-max = <4>;
		};

	       /* Min SVS */
		qcom,gpu-pwrlevel@8 {

			reg = <8>;
			qcom,gpu-freq = <133300000>;
			qcom,bus-freq = <1>;
			qcom,bus-min = <1>;
			qcom,bus-max = <4>;
		};

		/* XO */
		qcom,gpu-pwrlevel@9 {

			reg = <9>;
			qcom,gpu-freq = <19200000>;
			qcom,bus-freq = <0>;
			qcom,bus-min = <0>;
			qcom,bus-max = <0>;
		};
	};
};

&clock_gcc_gfx {

	clocks = <&clock_gcc clk_xo_clk_src>;
	clock-names = "xo";
	qcom,gfxfreq-corner =
		<         0   0 >,
		< 133330000   1 >,  /* Min SVS    */
		< 216000000   2 >,  /* Low SVS    */
		< 320000000   3 >,  /* SVS        */
		< 400000000   4 >,  /* SVS Plus   */
		< 510000000   5 >,  /* NOM        */
		< 560000000   6 >,  /* Nom Plus   */
		< 650000000   7 >,  /* Turbo      */
		< 1350000000  8 >,  /* Turbo 1.35 */
		< 1550000000  9 >;  /* Turbo 1.55 */
};

&gfx_vreg_corner {

	regulator-max-microvolt = <9>; /* Base (7) + Turbo 1.35 (1) + Turbo 1.55 (1) = 9 */

	qcom,num-corners = <9>; /* Base (7) + Turbo 1.35 (1) + Turbo 1.55 (1) = 9 */

	qcom,ldo-enable-corner-map = <1 1 1 0 0 0 0 0 0>; /* Defaults  Turbo 1.35  Turbo 1.55 */

	qcom,vdd-cx-corner-map = <RPM_SMD_REGULATOR_LEVEL_LOW_SVS>,
				<RPM_SMD_REGULATOR_LEVEL_LOW_SVS>,
				<RPM_SMD_REGULATOR_LEVEL_SVS>,
				<RPM_SMD_REGULATOR_LEVEL_SVS_PLUS>,
				<RPM_SMD_REGULATOR_LEVEL_NOM>,
				<RPM_SMD_REGULATOR_LEVEL_NOM_PLUS>,
				<RPM_SMD_REGULATOR_LEVEL_TURBO>,
				<RPM_SMD_REGULATOR_LEVEL_TURBO>, /* Turbo 1.35 */
				<RPM_SMD_REGULATOR_LEVEL_TURBO>; /* Turbo 1.55 */

	qcom,mem-acc-corner-map = <1 1 1 2 2 2 2 2 2>; /* Defaults  Turbo 1.35  Turbo 1.55 */
};
